@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("https://i.stack.imgur.com/1Tzky.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
}
